.pokemon-card-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 210px)); /* Adjust the column width as needed */
  row-gap: 20px;  /* Adjust the gap between items */
  column-gap: 60px;
  padding: 0px;
  margin: 0 auto;
  justify-content:center;
  align-items: center;
}

.pokemon-card-div{
  width: 100%;
}

#root{
  background-image: url('/src/photos/stadium-background.jpg');
  background-size: cover; /* Scales the image as large as possible without stretching */
  background-attachment: fixed;
}

.pokemon-card {
    border: 1px solid #ccc;
    text-align: center;
    background-color: #f0f0f0;
    font-size: 0px;

    width: 15%;
    min-width: 260px;
    max-height:fit-content;

    position: relative;

    overflow: hidden;
    z-index: 10;
    touch-action: none;
    
    border-radius: 5% / 3.5%;
    box-shadow: 
    -5px -5px 5px -5px var(--color1), 
    5px 5px 5px -5px var(--color2), 
    -7px -7px 10px -5px transparent, 
    7px 7px 10px -5px transparent, 
    0 0 5px 0px rgba(255,255,255,0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

    transition: transform 0.5s ease, box-shadow 0.2s ease;
    will-change: transform, filter;

    background-image: var(--front);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform-origin: center;
  }
  
  .pokemon-card img {
    max-width: 100%;
    height: auto;
    user-select: none;
    cursor: pointer;
  }

.pokemon-card:hover{
    transform: scale(1,1);
    box-shadow: 0px 0px 15px 0px;

    box-shadow: 
    -20px -20px 30px -25px var(--color1), 
    20px 20px 30px -25px var(--color2), 
    -7px -7px 10px -5px var(--color1), 
    7px 7px 10px -5px var(--color2), 
    0 0 13px 4px rgba(255,255,255,0.3),
    0 55px 35px -20px rgba(255, 0, 0, 0.5);
}



.pokemon-card.animated {
    transition: none;
  animation: holoCard 12s ease 0s 1;
  &:before { 
    transition: none;
    animation: holoGradient 12s ease 0s 1;
  }
  &:after {
    transition: none;
    animation: holoSparkle 12s ease 0s 1;
  }
}